html {
    background-color: #00bcdd;
    color: #000;
}

.desc {
    background-color: #fff;
    color: #000;
}

.descName {
    color: #000;
}

.descTimeSlotRowHeader th {
    background-color: #00bcdd;
    color: #000
}

.descTypeAU {
    background-color: #fcd9f6
}

.descTypeBR {
    background-color: #ccc
}

.descTypeCC {
    background-color: #fcd9f6
}

.descTypeCD {
    background-color: #fff
}

.descTypeFD {
    background-color: #dcdef9
}

.descTypeFP {
    background-color: #bcf8fa
}

.descTypeFW {
    background-color: #dcdef9
}

.descTypeGD {
    background-color: #dcdef9
}

.descTypeGM {
    background-color: #fcd9f6
}

.descTypeGP {
    background-color: #e2f9d7
}

.descTypeGW {
    background-color: #fdeeb5
}

.descTypeME {
    background-color: #90e5f9
}

.descTypePL {
    background-color: #bcf8fa
}

.descTypePS {
    background-color: #d2f9c8
}

.panel {
    color: #000;
    border-style: solid;
    border-width: thin;
    border-color: #00bcdd
}

.panelTypeAU {
    background-color: #fcd9f6
}

.panelTypeBR {
    background-color: #ccc
}

.panelTypeCC {
    background-color: #fcd9f6
}

.panelTypeCD {
    background-color: #fff
}

.panelTypeFD {
    background-color: #dcdef9
}

.panelTypeFP {
    background-color: #bcf8fa
}

.panelTypeFW {
    background-color: #dcdef9
}

.panelTypeGD {
    background-color: #dcdef9
}

.panelTypeGM {
    background-color: #fcd9f6
}

.panelTypeGP {
    background-color: #e2f9d7
}

.panelTypeGW {
    background-color: #fdeeb5
}

.panelTypeME {
    background-color: #90e5f9
}

.panelTypePL {
    background-color: #bcf8fa
}

.panelTypePS {
    background-color: #d2f9c8
}

.schedHeader {
    background-color: #00bcdd;
    color: #18191c;
}

.schedRowTimeSlot {
    border-top: medium groove rgba(183, 235, 248, .5);
    border-bottom: medium groove rgba(183, 235, 248, .5)
}

/* Overrides */

.panelFull {
    color: rgba(0, 0, 0, .5)
}

.panelFullLabel {
    color: #d9292c
}

.panelTokens {
    color: #642cb8;
}

.schedTimeSlotGuestBusy {
    background-color: #000;
    color: #fff
}

.panelSelectedGuest {
    background-color: #000;
    color: #fff
}

.descFull {
    color: rgba(0, 0, 0, .5)
}

.descFullLabel {
    color: #d9292c
}
