html {
    background-color: #00bcdd;
    color: #000;
}

.desc {
    background-color: #fff;
    color: #000;
}

.descName {
    color: #000;
}

.descTimeSlotRowHeader th {
    background-color: #00bcdd;
    color: #000
}

.panel {
    color: #000;
    border-style: solid;
    border-width: thin;
    border-color: #00bcdd
}

.schedHeader {
    background-color: #00bcdd;
    color: #18191c;
}

.schedRowTimeSlot {
    border-top: medium groove rgba(183, 235, 248, .5);
    border-bottom: medium groove rgba(183, 235, 248, .5)
}

/* Overrides */

.panelFull {
    color: rgba(0, 0, 0, .5)
}

.panelFullLabel {
    color: #d9292c
}

.panelTokens {
    color: #642cb8;
}

.schedTimeSlotGuestBusy {
    background-color: #000;
    color: #fff
}

.panelSelectedGuest {
    background-color: #000;
    color: #fff
}

.descFull {
    color: rgba(0, 0, 0, .5)
}

.descFullLabel {
    color: #d9292c
}
