@page {
	size: 6in 4in;
	margin: 0.125in;
}

html {
	column-span: all;
}

.schedule {
	page-break-before: always;
	page-break-after: auto;
	column-span: none;
	break-before: all;
	font-size: 9.4px;
	/*margin-block-start: 2in;*/
}

.scheduleFridayMorning {
	font-size: 9.4px;
}

.scheduleFridayAfternoon {
	font-size: 9.4px;
}

.scheduleSaturdayMorning {
	font-size: 8.3px;
}

.scheduleSaturdayAfternoon {
	font-size: 7.2px;
}

.scheduleSunday {
	font-size: 6.6px;
}

.schedRoomName {
	font-size: 6.6px;
}

.schedTimeSlot,
.schedWeekDay {
	background-color: #aaa;
}

.schedule th.schedHeader,
.schedule td.schedHeader {
	border: thin solid black;
}

.schedTimeSlotGuestBusy {
	border: thick solid white;
	background-color: black;
	color: white;
}

.descTypeHeader {
	font-weight: bold;
	font-size: x-large;
	background-color: white;
}

.descriptions {
	column-count: auto;
	column-width: 25em;
	margin-top: 0em;
}

.schedRoomEmpty {
	background-color: #ddd;
}