@page {
	size: landscape;
}

html {
	column-count: 2;
	column-fill: auto;
	column-span: none;
}

.schedule {
	column-span: none;
	break-before: column !important;
	break-inside: avoid;
	break-after: column;
	font-size: 7px;
}

.scheduleFriday {
	break-before: page;
}

.scheduleSaturday {
	break-before: page;
}

.scheduleSunday {
	break-before: page;
}

.descriptions {
	font-size: 7.2pt;
	column-count: 2;
	column-fill: auto;
	break-after: column;
}