@page {
	size: landscape;
}

html {
	column-count: 2;
	column-fill: auto;
	column-span: none;
}

.schedule {
	column-span: none;
	break-before: column;
	font-size: 7px;
}

.scheduleFriday {
	font-size: 6.7px !important;
}

.descriptions {
	font-size: 7.3pt;
	column-count: 2;
	column-fill: auto;
}