@page {
	size: legal landscape;
}

html {
	column-count: 3;
	column-fill: auto;
	column-span: none;
}

.schedule {
	column-span: none;
	break-before: column;
	font-size: 6.2px;
}

.descriptions {
	font-size: 6px;
	column-count: 2;
	column-fill: auto;
}

.longPanelist {
	font-stretch: condensed;
	font-family: "Helvetica Narrow", "Arial Narrow";
}