@page {
	size: legal landscape;
}

html {
	column-count: 3;
	column-span: none;
}

.schedule {
	column-span: none;
	break-before: column;
	font-size: 6.2px;
}

.schedHeader {
	height: 3em;
}

.descriptions {
	font-size: 7.3pt;
	column-count: 2;
}

.longPanelist {
	font-stretch: condensed;
	font-family: "Helvetica Narrow", "Arial Narrow";
}
