@page {
	size: portrait;
}

html {
	column-span: all;
}

.schedule {
	page-break-before: always;
	page-break-after: auto;
	column-span: none;
	break-before: all;
	font-size: 7.5pt;
}

.descriptions {
	column-count: auto;
	column-width: 25em;
}
