@page {
    size: 17in 11in;
    margin-top: 1.5in;
}

html {
    column-count: 3;
    column-fill: auto;
    column-span: none;
}

:root {
    --day-width: minmax(4.5em, auto);
    --time-width: minmax(4.5em, auto);
    --room-width: 1fr;
}

.schedule {
    column-span: none;
    break-before: column;
    font-size: 8.5px;
}

.descriptions {
    font-size: 7.3pt;
    column-count: 2;
    column-fill: auto;
}

.longPanelist {
    font-stretch: condensed;
    font-family: "Helvetica Narrow", "Arial Narrow";
}