@page {
    size: 17in 11in;
}

html {
    column-count: 3;
    column-span: none;
}

.schedule {
    column-span: none;
    break-before: column;
    font-size: 8.5px;
}

.schedHeader {
    height: 3em;
}

.schedColumnsRoom {
    width: 0.65in;
    min-width: 0.65in;
    max-width: 0.65in;
}

.descriptions {
    font-size: 7.3pt;
    column-count: 2;
}

.longPanelist {
    font-stretch: condensed;
    font-family: "Helvetica Narrow", "Arial Narrow";
}