@page {
    size: 30in 20in;
}

html {
    column-count: 3;
    column-fill: auto;
    column-span: none;
}

:root {
    --day-width: minmax(4.5em, auto);
    --time-width: minmax(4.5em, auto);
    --room-width: 1fr;
}

.schedule {
    column-span: none;
    break-before: column;
    font-size: 12px;
}

.descriptions {
    font-size: 10px;
    column-count: 2;
    column-fill: auto;
}

.longPanelist {
    font-stretch: condensed;
    font-family: "Helvetica Narrow", "Arial Narrow";
}