@media only print {
	@page { 
		size: 30in 20in;
	}
	html {
		column-span: all;
	}
	.schedule {
		font-size: 6pt;
		page-break-after: always;
/*		display: none;*/
	}
	.descriptions {
		page-break-before: always;
		font-size: 11.7pt;
		column-count: 6;
	}
	.descTimeSlot {
		column-span: all;
	}
	.descTypeTable { display: none; }
}
