@page {
    size: 17in 11in;
}

.descCost {
    float: right;
    margin-inline-start: 1em;
    font-weight: bolder;
    text-decoration: underline;
}

.descDuration {
    float: right;
    margin-inline-start: 1em;
    font-weight: lighter;
    font-style: italic;
}

.descriptions {
    font-size: 13px;
    column-count: 6;
    column-fill: auto;
}