.descRoomName {
    float: right;
}

.panelPanelist {
    font-weight: lighter
}

.schedHeader {
    vertical-align: middle
}

.schedTimeSlot {
    vertical-align: top
}

.schedWeekDay {
    vertical-align: top
}

tr.descPanelRow {
    padding-top: .5em;
    padding-bottom: .5em
}
