@media print {
    html {
        font-family: nunito-sans, Arial, Helvetica, sans-serif;
    }

    .desc a {
        text-decoration: none;
        color: inherit
    }

    .desc {
        font-weight: 400;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        padding: .5em;
        margin-bottom: 1em;
        break-before: auto;
        break-after: auto
    }

    .descID {
        display: none
    }

    .descName {
        font-weight: 700;
        margin-block-start: 0;
        margin-block-end: 0
    }

    .descPanelist {
        margin-block-start: 0;
        margin-block-end: 0
    }

    .descPanelRow {
        list-style-type: none;
        padding-left: 0
    }

    .descriptions {
        margin-top: .5em;
        margin-bottom: .5em;
        column-span: none
    }

    .descRoomName {
        margin-block-start: 0;
        margin-block-end: 0;
        float: right
    }

    .descTimeSlot {
        position: -webkit-sticky;
        top: 0;
        z-index: 998;
        vertical-align: top;
        text-align: left;
        padding-top: .5em;
        padding-bottom: .5em;
        font-family: nunito-sans, Arial, Helvetica, sans-serif
    }

    .descTimeSlotRowHeader {
        break-before: auto;
        break-after: avoid-column
    }

    .descTimeSlotTable {
        margin-top: 0;
        margin-bottom: .5em;
        border-collapse: separate;
        border-spacing: .5em;
        table-layout: fixed;
        width: 100%
    }

    .descTokens {
        margin-block-start: 0;
        margin-block-end: 0
    }

    .descTypeHeader {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 998;
        vertical-align: top;
        text-align: left;
        padding-top: .5em;
        padding-bottom: .5em;
        font-family: nunito-sans, Arial, Helvetica, sans-serif
    }

    .descTypeTable {
        margin-top: 0;
        margin-bottom: .5em;
        border-collapse: separate;
        border-spacing: .5em;
        table-layout: fixed;
        width: 100%
    }

    .panel a {
        text-decoration: none;
        color: inherit
    }

    .panel {
        vertical-align: top;
        break-inside: avoid;
        z-index: -1;
        position: relative
    }

    .panel {
        height: 3em
    }

    .panelID {
        display: none
    }

    .panelName {
        vertical-align: top;
        font-weight: 700
    }

    .panelPanelist {
        display: block;
        font-weight: lighter
    }

    .panelTokens {
        font-weight: bolder;
        text-decoration: underline;
        display: none
    }

    .schedColumnDay {
        width: 8%
    }

    .schedColumnsRoom {
        width: 11.5%
    }

    .schedColumnTime {
        min-width: 4.5em;
        width: 8%
    }

    .schedHeader {
        font-family: nunito-sans, Arial, Helvetica, sans-serif;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        z-index: 998;
        vertical-align: middle
    }

    .schedRoomEmpty {
        height: 3em
    }

    .schedRowHeaders .schedColumnTime {
        z-index: 999
    }

    .schedTimeSlot {
        vertical-align: top
    }

    .schedule td {
        border-width: thin;
        border-style: solid;
    }

    .schedule td.schedHeader {
        border-width: thin;
        border-style: solid;
    }

    .schedule tfoot {
        display: none
    }

    .schedule th.schedHeader {
        border-width: thin;
        border-style: solid;
    }

    .schedule th {
        border-width: thin;
        border-style: solid;
    }

    .schedule {
        border-collapse: collapse;
        margin-top: 1em;
        table-layout: fixed
    }

    .schedWeekDay {
        vertical-align: top
    }

    tr.descPanelRow {
        padding-top: .5em;
        padding-bottom: .5em
    }

    /* Overrides */

    .descConflictGuest {
        opacity: .3
    }

    .panelConflictGuest {
        opacity: .3
    }

    .panelroomUnfocus {
        opacity: .3
    }

    .roomUnfocus {
        opacity: .3
    }

    .descFullLabel {
        font-weight: 700;
    }
}
