.descriptions {
    column-count: auto;
    column-width: 25em;
}

.descTimeSlotTable {
    break-inside: avoid-column
}

.descCost {
    float: right;
    margin-inline-start: 1em;
    font-weight: bolder;
    text-decoration: underline;
}

.descTypeHeader {
    font-size: x-large
}

.schedHeader {
    vertical-align: top
}

.schedule {
    column-span: all
}

/* Overrides */

.descConflictGuest {
    opacity: .3;
}

.desc:target {
    border: medium groove rgb(174, 88, 255);
}

.panel:target {
    border: medium groove rgb(174, 88, 255);
}
