.descriptions {
    font-family: 'Avenir LT W01_55 Roman1475520', Avenir, nunito-sans, Arial, Helvetica, sans-serif;
    margin-top: .5em;
    margin-bottom: .5em;
    column-span: none;
}

.desc a {
    text-decoration: none;
    color: inherit
}

.desc {
    font-weight: 400;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    padding: .5em;
    margin-bottom: 1em;
    break-before: auto;
    break-after: auto
}

.descID {
    display: none
}

.descName {
    font-family: 'Trade Gothic LT W01 Bold', 'Trade Gothic', nunito-sans, Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0
}

.descNote i {
    font-family: 'Avenir LT W01_55 Obliqu1475526', Avenir, nunito-sans, Arial, Helvetica, sans-serif;
    font-style: oblique
}

.descPanelist {
    margin-block-start: 0;
    margin-block-end: 0
}

.descPanelRow {
    list-style-type: none;
    padding-left: 0
}

.descListParts {
    list-style-type: none;
    padding-left: 0
}

.descRoomName {
    margin-block-start: 0;
    margin-block-end: 0
}

.descTimeSlot {
    position: -webkit-sticky;
    top: 0;
    z-index: 998;
    vertical-align: top;
    text-align: left;
    padding-top: .5em;
    padding-bottom: .5em;
    font-family: 'Trade Gothic LT W01 Bold', 'Trade Gothic', nunito-sans, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.descTimeSlotRowHeader {
    break-before: auto;
    break-after: avoid-column
}

.descTimeSlotTable {
    margin-top: 0;
    margin-bottom: .5em;
    border-collapse: separate;
    border-spacing: .5em;
    table-layout: fixed;
    width: 100%;
}

.descCost {
    margin-block-start: 0;
    margin-block-end: 0
}

.descTypeHeader {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 998;
    vertical-align: top;
    text-align: left;
    padding-top: .5em;
    padding-bottom: .5em;
    font-family: 'Trade Gothic LT W01 Bold', 'Trade Gothic', nunito-sans, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.descTypeTable {
    margin-top: 0;
    margin-bottom: .5em;
    border-collapse: separate;
    border-spacing: .5em;
    table-layout: fixed;
    width: 100%
}

tr.descPanelRow {
    padding-top: .5em;
    padding-bottom: .5em
}

/* Overrides */
.descFullLabel {
    font-family: 'Trade Gothic LT W01 Bold', 'Trade Gothic', nunito-sans, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* "screen.css" */
.descriptions {
    column-count: auto;
    column-width: 25em;
}

.descTimeSlotTable {
    break-inside: avoid-column
}

.descCost {
    float: right;
    margin-inline-start: 1em;
    font-weight: bolder;
    text-decoration: underline;
    display: none
}

.descTypeHeader {
    font-size: x-large
}

/* Overrides */

.descConflictGuest {
    opacity: .3;
}

/* "color.css" */
.descriptions {
    color: #000;
}

.desc {
    background-color: #fff;
    color: #000;
}

.descName {
    color: #000;
}

.descTimeSlotRowHeader th {
    background-color: #40c8ed;
    color: #000
}

/* Overrides */
.descFull {
    color: rgba(0, 0, 0, .5)
}

.descFullLabel {
    color: #d9292c
}

/* "+color" */
.descTypeAU {
    background-color: #FCD9F6
}

.descTypeBR {
    background-color: #CCCCCC
}

.descTypeCC {
    background-color: #FCD9F6
}

.descTypeCD {
    background-color: #FFFFFF
}

.descTypeFD {
    background-color: #DCDEF9
}

.descTypeFP {
    background-color: #BCF8FA
}

.descTypeFW {
    background-color: #DCDEF9
}

.descTypeGD {
    background-color: #DCDEF9
}

.descTypeGM {
    background-color: #FCD9F6
}

.descTypeGP {
    background-color: #E2F9D7
}

.descTypeGW {
    background-color: #FDEEB5
}

.descTypeME {
    background-color: #90E5F9
}

.descTypePL {
    background-color: #BCF8FA
}

.descTypePS {
    background-color: #D2F9C8
}

.descTypeSP {
    background-color: #CCCCCC
}

.descTypeZZ {
    background-color: #CCCCCC
}
