[#]*
*.bak
*.o
*.old
*.orig
*.tdy
*.tmp
*~
.*
Changes
core
output
perday
perhalf
posters
prev_output
report
!.clang-format
!.devcontainer
!.gitignore
!.keep_empty_directory
!.perlcriticrc
!.perltidyrc

