[#]*
*.bak
*.o
*.old
*.orig
*.tdy
*.tmp
*~
.*
Changes
core
input
output
perday
perhalf
posters
prev_output
report

# Do not include our font license keys
css/license-fonts.css

!.clang-format
!.devcontainer
!.gitignore
!.keep_empty_directory
!.perlcriticrc
!.perltidyrc

