@charset "UTF-8";
/* CSS Document */

html {
	background-color: #00BCDD;
	font-family: nunito-sans,Arial,Helvetica,sans-serif;
	color: black;
}
@media not print {
	html {
		font-family: 'Avenir LT W01_55 Roman1475520',Avenir,nunito-sans,Arial,Helvetica,sans-serif;
		column-span: all;
	}
}
@media only print {
	html {
		background: white;
		color: black;
	}
}

.schedule {
	border-collapse: collapse;
	margin-top: 1em;
	table-layout: fixed;
}
@media not print {
	.schedule {
		column-span: all;
	}
}
.schedHeader {
	font-family: nunito-sans,Arial,Helvetica,sans-serif;
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	left: 0px;
	z-index: 998;
}
.schedRowHeaders .schedColumnTime {
	z-index: 999;
}
@media not print {
	.schedHeader {
		font-family: 'Trade Gothic LT W01 Bold','Trade Gothic',nunito-sans,Arial,Helvetica,sans-serif;
		font-weight: bold;
		background-color: #00BCDD;
		color: #18191C;
		vertical-align: top;
	}
	.schedTimeSlotGuestBusy {
		background-color: black;
		color: white;
	}
}
@media only print {
	.schedule td,.schedule th {
		border: thin solid black;
	}
	.schedHeader {
		background-color: black;
		color: white;
		vertical-align: middle;
	}
	.schedTimeSlot,.schedWeekDay {
		vertical-align: top;
	}
	.schedule th.schedHeader,.schedule td.schedHeader {
		border: thin solid #cccccc;
	}
	.schedTimeSlotGuestBusy {
		background-color: white;
		color: black;
	}
}

.schedule tfoot {
	display: none;
}

@media not print {
	.schedRowTimeSlot {
		border-top: medium groove rgba(183,235,248,0.50);
		border-bottom: medium groove rgba(183,235,248,0.50);
	}
}

.panel {
	color: black;
	vertical-align: top;
	break-inside: avoid;
	z-index: -1;
	position: relative;
}
@media not print {
	.panel {
		border: thin solid #00BCDD;
	}
}

.schedColumnDay {
	width: 8%;
}
.schedColumnTime {
	min-width: 4.5em;
	width: 8%;
}
.panel,.schedRoomEmpty {
	height: 3em;
}
.schedColumnsRoom {
	width: 11.5%;
}

.panelID {
	display: none;
}

.descID {
	display: none;
}

.panel a {
	text-decoration: none;
	color: inherit;
}

.panelPanelist {
	display: block;
}
@media only print {
	.panelPanelist {
		font-weight: lighter;
	}
}

.panelName {
	vertical-align: top;
}
.panelFull {
	color: rgba(0,0,0,0.5);
}
@media not print {
	.panelName,.panelFullLabel {
/*
		font-weight: 500;
		font-family: 'Avenir LT W01_55 Roman1475520',Avenir,nunito-sans,Arial,Helvetica,sans-serif;
*/
		font-family: 'Trade Gothic LT W01 Bold','Trade Gothic',nunito-sans,Arial,Helvetica,sans-serif;
		font-weight: bold;
	}
	.panelFullLabel {
		color: #D9292C;
	}
}
@media only print {
	.panelName,.panelFullLabel {
		font-weight: bold;
	}
	.panelFullLabel {
		color: black;
	}
}

.descriptions {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	column-span: none;
}
@media not print {
	.descriptions {
		column-count: auto;
		column-width: 25em;
	}
}

.descTimeSlotTable {
	margin-top: 0em;
	margin-bottom: 0.5em;
	border-collapse: separate;
	border-spacing: 0.5em;
	table-layout: fixed;
	width: 100%;
}
@media not print {
	.descTimeSlotTable {
		break-inside: avoid-column;
	}
}

.descTimeSlotRowHeader {
	break-before: auto;
	break-after: avoid-column;
}

tr.descPanelRow {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.descTimeSlot {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 998;
	vertical-align: top;
	text-align: left;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: nunito-sans,Arial,Helvetica,sans-serif;
}
@media not print {
	.descTimeSlot {
		font-family: 'Trade Gothic LT W01 Bold','Trade Gothic',nunito-sans,Arial,Helvetica,sans-serif;
		font-weight: bold;
		font-size: larger;	
	}
	.descTimeSlotRowHeader th {
		background-color: #00BCDD;
		color: black;
	}
}
@media only print {
	.descTimeSlot {
		font-weight: bold;
		font-size: larger;	
	}
	.descTimeSlotRowHeader th {
		background-color: white;
		color: black;
	}
}

.desc {
	font-weight: normal;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: white;
	color: black;
	break-before: auto;
	break-after: auto;
}
.descFull {
	color: rgba(0,0,0,0.5);
}
.desc a {
	text-decoration: none;
	color: inherit;
}

.descPanelRow {
	list-style-type: none;
	padding-left: 0px;
}

@media not print {
	.descName,.descFullLabel {
		font-family: 'Trade Gothic LT W01 Bold','Trade Gothic',nunito-sans,Arial,Helvetica,sans-serif;
		font-weight: bold;
	}
	.descName {
		color: black;
	}
	.descFullLabel {
		color: #D9292C;
	}
}
@media only print {
	.descName,.descFullLabel {
		font-weight: bold;
		color: black;
	}
}

.descName,.descPanelist,.descRoomName,.descTokens {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.descRoomName {
	float: right;
}

.descTokens {
	float: right;
	margin-inline-start: 1em;
	font-weight: bolder;
	text-decoration: underline;
	display: none;
}

@media not print {
	.descNote i {
		font-family: 'Avenir LT W01_55 Obliqu1475526',Avenir,nunito-sans,Arial,Helvetica,sans-serif;
		font-style: oblique;
	}
}

.panelTokens {
	font-weight: bolder;
	text-decoration: underline;
	color: #642CB8;
	display: none;
}

@media not print {
	.panelTypeCC,.descTypeCC {
		/* Cafe */
		background-color: #FCD9F6;
	}
	
	.panelTypeFW,.descTypeFW {
		/* Free Workshop */
		background-color: #DCDEF9; /* Need to seperate from GD */
	}
	
	.panelTypeGD,.descTypeGD {
		/* Guest Demostration */
		background-color: #DCDEF9; /* Need to seperate from FW */
	}
	.panelTypeGP,.descTypeGP {
		/* Guest Panel */
		background-color: #E2F9D7;
	}
	.panelTypeGW,.descTypeGW {
		/* Guest Workshop */
		background-color: #FDEEB5;
	}
	
	.panelTypeME,.descTypeME {
		/* Main Event */
		background-color: #90E5F9;
	}
	
	.panelTypePL,.descTypePL {
		/* Panel */
		background-color: #BCF8FA;
	}

	.panelTypePS,.descTypePS {
		/* Craftsmanship Judging */
		background-color: #D2F9C8;
	}
}
@media only print {
	.schedRoomEmpty {
		background-color: #cccccc;
	}
	.panel {
		background-color: white;
	}
}
.panelConflictGuest {
	opacity: 0.3;
}
.panelSelectedGuest {
	background-color: black;
	color: white;
}
.descConflictGuest {
	opacity: 0.3;
}

@media not print {
	.panel:target,.desc:target {
		background-color: white;
		color: black;
	}
}
