@media only print {
	@page { 
		size: landscape;
	}
	html {
		column-count: 2;
		column-span: none;
	}
	.schedule {
		column-span: none;
		break-before: column;
	}
	.schedHeader {
		height: 3em;
	}
	.schedule {
		font-size: 7px;
	}
	.descriptions {
		font-size: 7.3pt;
		column-count: 2;
	}
}
