@charset "UTF-8";
/* CSS Document */

@media only print {
	@page { 
		size: portrait;
	}
}

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=69f64ec9-66ee-434e-b779-0d90996f7ea1");
    @font-face{
        font-family:"Avenir LT W01_35 Light1475496";
        src:url("Fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
        src:url("Fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("Fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("Fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("Fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype");
    }
    @font-face{
        font-family:"Avenir LT W01_35 Light_1475502";
        src:url("Fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix");
        src:url("Fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix") format("eot"),url("Fonts/a59168c1-917d-4de9-a244-0316c057c357.woff2") format("woff2"),url("Fonts/6dc0e7d8-9284-44e1-8f05-984a41daa3a4.woff") format("woff"),url("Fonts/2315df7a-8bc2-433d-bf0a-162fc0063de0.ttf") format("truetype");
    }
    @font-face{
        font-family:"Avenir LT W01_55 Roman1475520";
        src:url("Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
        src:url("Fonts/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"),url("Fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),url("Fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"),url("Fonts/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype");
    }
    @font-face{
        font-family:"Avenir LT W01_55 Obliqu1475526";
        src:url("Fonts/1e9b2738-9316-4b0c-97c0-5423b69ea147.eot?#iefix");
        src:url("Fonts/1e9b2738-9316-4b0c-97c0-5423b69ea147.eot?#iefix") format("eot"),url("Fonts/1a7173fa-062b-49ad-9915-bc57d3bfc1f5.woff2") format("woff2"),url("Fonts/cdda031e-26e9-4269-83d1-5a218caa10db.woff") format("woff"),url("Fonts/6d1ce413-19e7-4b43-b328-6cdedc58b35a.ttf") format("truetype");
    }
    @font-face{
        font-family:"Trade Gothic LT W01 Roman";
        src:url("Fonts/38157dab-8eda-4b9d-a99e-acd0f5e08a96.eot?#iefix");
        src:url("Fonts/38157dab-8eda-4b9d-a99e-acd0f5e08a96.eot?#iefix") format("eot"),url("Fonts/b1979d94-a178-4b03-b43d-c8e46562f107.woff2") format("woff2"),url("Fonts/fd01e71e-6e70-4e12-b470-560c965b72b5.woff") format("woff"),url("Fonts/31a3aa9f-cd2d-4a66-982b-f3b3c825cae7.ttf") format("truetype");
    }
    @font-face{
        font-family:"Trade Gothic LT W01 Bold";
        src:url("Fonts/9a18ba1e-dad3-48f7-9eb6-2fa41870be6a.eot?#iefix");
        src:url("Fonts/9a18ba1e-dad3-48f7-9eb6-2fa41870be6a.eot?#iefix") format("eot"),url("Fonts/f9be987b-0ea1-4c6e-9302-b14707c2a1a2.woff2") format("woff2"),url("Fonts/b27d3ee2-b9fb-47e7-8eab-f22f15953932.woff") format("woff"),url("Fonts/4ff43877-a4d7-4c48-bd43-b19dffc4248c.ttf") format("truetype");
    }

html {
	background-color: #00BCDD;
	font-family: nunito-sans,Arial,Helvetica,sans-serif;
	color: black;
}
@media not print {
	html {
		font-family: 'Avenir LT W01_55 Roman1475520',Avenir,nunito-sans,Arial,Helvetica,sans-serif;
		column-span: all;
	}
}
@media only print {
	html {
		background: white;
		color: black;
		column-span: all;
	}
}

.schedule {
	border-collapse: collapse;
	margin-top: 1em;
	table-layout: fixed;
}
@media not print {
	.schedule {
		column-span: all;
	}
}
@media only print {
	.schedule {
		page-break-before: always;
		page-break-after: auto;
		column-span: none;
		break-before: all;
	}
}

.schedHeader {
	font-family: nunito-sans,Arial,Helvetica,sans-serif;
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	left: 0px;
	z-index: 998;
}
.schedRowHeaders .schedColumnTime {
	z-index: 999;
}
@media not print {
	.schedHeader {
		font-family: 'Trade Gothic LT W01 Bold','Trade Gothic',nunito-sans,Arial,Helvetica,sans-serif;
		font-weight: bold;
		background-color: #00BCDD;
		color: #18191C;
		vertical-align: top;
	}
	.schedTimeSlotGuestBusy {
		background-color: black;
		color: white;
	}
}
@media only print {
	.schedule td,.schedule th {
		border: thin solid black;
	}
	.schedHeader {
		background-color: black;
		color: white;
		vertical-align: middle;
	}
	.schedTimeSlot,.schedWeekDay {
		vertical-align: top;
	}
	.schedule th.schedHeader,.schedule td.schedHeader {
		border: thin solid #cccccc;
	}
	.schedTimeSlotGuestBusy {
		background-color: white;
		color: black;
	}
}

.schedule tfoot {
	display: none;
}

@media not print {
	.schedRowTimeSlot {
		border-top: medium groove rgba(183,235,248,0.50);
		border-bottom: medium groove rgba(183,235,248,0.50);
	}
}

.panel {
	color: black;
	vertical-align: top;
	break-inside: avoid;
	z-index: -1;
	position: relative;
}
@media not print {
	.panel {
		border: thin solid #00BCDD;
	}
}

.schedColumnDay {
	width: 8%;
}
.schedColumnTime {
	min-width: 4.5em;
	width: 8%;
}
.panel,.schedRoomEmpty {
	height: 3em;
}
.schedColumnsRoom {
	width: 11.5%;
}

.panelID {
	display: none;
}

.descID {
	display: none;
}

.panel a {
	text-decoration: none;
	color: inherit;
}

.panelPanelist {
	display: block;
}
@media only print {
	.panelPanelist {
		font-weight: lighter;
	}
}

.panelName {
	vertical-align: top;
}
.panelFull {
	color: rgba(0,0,0,0.5);
}
@media not print {
	.panelName,.panelFullLabel {
/*
		font-weight: 500;
		font-family: 'Avenir LT W01_55 Roman1475520',Avenir,nunito-sans,Arial,Helvetica,sans-serif;
*/
		font-family: 'Trade Gothic LT W01 Bold','Trade Gothic',nunito-sans,Arial,Helvetica,sans-serif;
		font-weight: bold;
	}
	.panelFullLabel {
		color: #D9292C;
	}
}
@media only print {
	.panelName,.panelFullLabel {
		font-weight: bold;
	}
	.panelFullLabel {
		color: black;
	}
}

.descriptions {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	column-span: none;
}
@media not print {
	.descriptions {
		column-count: auto;
		column-width: 25em;
	}
}
@media only print {
	.schedule {
		font-size: 7.5pt;
	}
	.descriptions {
		column-count: auto;
		column-width: 25em;
	}
}

.descTimeSlotTable {
	margin-top: 0em;
	margin-bottom: 0.5em;
	border-collapse: separate;
	border-spacing: 0.5em;
	table-layout: fixed;
	width: 100%;
}
@media not print {
	.descTimeSlotTable {
		break-inside: avoid-column;
	}
}

.descTimeSlotRowHeader {
	break-before: auto;
	break-after: avoid-column;
}

tr.descPanelRow {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.descTimeSlot {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 998;
	vertical-align: top;
	text-align: left;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: nunito-sans,Arial,Helvetica,sans-serif;
}
@media not print {
	.descTimeSlot {
		font-family: 'Trade Gothic LT W01 Bold','Trade Gothic',nunito-sans,Arial,Helvetica,sans-serif;
		font-weight: bold;
		font-size: larger;	
	}
	.descTimeSlotRowHeader th {
		background-color: #00BCDD;
		color: black;
	}
}
@media only print {
	.descTimeSlot {
		font-weight: bold;
		font-size: larger;	
	}
	.descTimeSlotRowHeader th {
		background-color: white;
		color: black;
	}
}

.desc {
	font-weight: normal;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: white;
	color: black;
	break-before: auto;
	break-after: auto;
}
.descFull {
	color: rgba(0,0,0,0.5);
}
.desc a {
	text-decoration: none;
	color: inherit;
}

.descPanelRow {
	list-style-type: none;
	padding-left: 0px;
}

@media not print {
	.descName,.descFullLabel {
		font-family: 'Trade Gothic LT W01 Bold','Trade Gothic',nunito-sans,Arial,Helvetica,sans-serif;
		font-weight: bold;
	}
	.descName {
		color: black;
	}
	.descFullLabel {
		color: #D9292C;
	}
}
@media only print {
	.descName,.descFullLabel {
		font-weight: bold;
		color: black;
	}
}

.descName,.descPanelist,.descRoomName,.descTokens {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.descRoomName {
	float: right;
}

.descTokens {
	float: right;
	margin-inline-start: 1em;
	font-weight: bolder;
	text-decoration: underline;
	display: none;
}

@media not print {
	.descNote i {
		font-family: 'Avenir LT W01_55 Obliqu1475526',Avenir,nunito-sans,Arial,Helvetica,sans-serif;
		font-style: oblique;
	}
}

.panelTokens {
	font-weight: bolder;
	text-decoration: underline;
	color: #642CB8;
	display: none;
}

@media not print {
	.panelTypeCC,.descTypeCC {
		/* Cafe */
		background-color: #FCD9F6;
	}
	
	.panelTypeFW,.descTypeFW {
		/* Free Workshop */
		background-color: #DCDEF9; /* Need to seperate from GD */
	}
	
	.panelTypeGD,.descTypeGD {
		/* Guest Demostration */
		background-color: #DCDEF9; /* Need to seperate from FW */
	}
	.panelTypeGP,.descTypeGP {
		/* Guest Panel */
		background-color: #E2F9D7;
	}
	.panelTypeGW,.descTypeGW {
		/* Guest Workshop */
		background-color: #FDEEB5;
	}
	
	.panelTypeME,.descTypeME {
		/* Main Event */
		background-color: #90E5F9;
	}
	
	.panelTypePL,.descTypePL {
		/* Panel */
		background-color: #BCF8FA;
	}

	.panelTypePS,.descTypePS {
		/* Craftsmanship Judging */
		background-color: #D2F9C8;
	}
}
@media only print {
	.schedRoomEmpty {
		background-color: #cccccc;
	}
	.panel {
		background-color: white;
	}
}
.panelConflictGuest {
	opacity: 0.3;
}
.panelSelectedGuest {
	background-color: black;
	color: white;
}

@media not print {
	.panel:target,.desc:target {
		background-color: white;
		color: black;
	}
}
